<img id="moveUp" class="select-none" src="{{site.baseUrl}}/static/img/up.svg">
<!-- 全局属性blog -->
<script>window.blog={baseUrl:"{{site.baseUrl}}", buildAt:"{{buildAt}}"}</script>
<!-- 引入页面中配置的JS -->
{% for js in pageJS %}
<script type="text/javascript" src="{{site.baseUrl}}/static/js/{{ js }}?t={{ buildAt }}"></script>
{% endfor %}

<!--调用tocbot生成文章目录-->
<script src="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.css">
<script>
tocbot.init({
  tocSelector: '#toc',
  contentSelector: '.post',
  headingSelector: 'h1, h2, h3, h4, h5, h6',
  collapseDepth: 0,
  scrollSmooth: true,
  scrollSmoothDuration: 0,
  headingsOffset: 1,
  fixedSidebarOffset: 'auto',
  orderedList: true,
});
</script>

<!--调用gitalk部署评论系统-->
{% unless page.isPage %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1.5.0/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1.5.0/dist/gitalk.min.js"></script>
  <script>
  var gitalk = new Gitalk({
    clientID: 'a584baecdfafe2011bd7',
    clientSecret: '3301aa8e451a9a9e29edb3ed5cfe5fcd99e19ad4',
    repo: 'blog-comments',
    owner: 'zhyjc6',
    admin: ['zhyjc6'],
    id: md5(location.pathname), // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })
  gitalk.render('gitalk-container')
  </script>
{% endunless %}
<!--footer-->
<footer>
  <!--知识共享协议-->
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" class="hover-underline">
    <img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
  <br />本作品采用
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" class="hover-underline">
    知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>
    进行许可

  <!--调用不蒜子统计访问量-->
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <div>
    <span id="busuanzi_container_site_pv">
      本站总访问量<span id="busuanzi_value_site_pv"></span>次
    </span>
    <span id="busuanzi_container_site_uv">
      总访客数<span id="busuanzi_value_site_uv"></span>人次
    </span>
  </div>
  
</footer>

