<footer class="footer select-one animation-fade-up">
  <span>Theme From</span>
  <a href="https://github.com/TMaize/tmaize-blog" target="_blank" >tmaize-blog</a>
</footer>
<img id="moveUp" class="select-none" src="{{site.baseUrl}}/static/img/up.svg">
<!-- 全局属性blog -->
<script>window.blog={baseUrl:"{{site.baseUrl}}", buildAt:"{{buildAt}}"}</script>
<!-- 引入页面中配置的JS -->
{% for js in pageJS %}
<script type="text/javascript" src="{{site.baseUrl}}/static/js/{{ js }}?t={{ buildAt }}"></script>
{% endfor %}
<!-- 引入配置的插件 -->
{% for cp in site.customPlugins %}
  {% if cp.use %}
  {% include {{cp.file}} values=cp %}
  {% endif %}
{% endfor %}

<!--调用tocbot生成文章目录-->
<script src="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.css">
<script>
tocbot.init({
  tocSelector: '#toc',
  contentSelector: '.post',
  headingSelector: 'h1, h2, h3, h4, h5, h6',
  collapseDepth: 0,
  scrollSmooth: true,
  scrollSmoothDuration: 0,
  headingsOffset: 1,
  fixedSidebarOffset: 'auto',
  orderedList: true,
});
</script>

