<header class="header select-none">
  <img class="logo" src="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/img/logo.jpg" />
  <nav class="menu">
    {% for menu in site.menu %}
    <a href="{{ site.baseUrl }}{{ menu.url }}" class="hover-underline">{{ menu.title }}</a>
    {% endfor %}
  </nav>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          inlineMath: [['$','$']]
          }
      });
  </script>
</header>