<header class="header select-none">
  <img class="logo" src="{{site.baseUrl}}/static/img/logo.jpg" />
  <nav class="menu">
    {% for menu in site.menu %}
    <a href="{{ site.baseUrl }}{{ menu.url }}" class="hover-underline">{{ menu.title }}</a>
    {% endfor %}
  </nav>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          inlineMath: [['$','$']]
          }
      });
  </script>
  
    <!--全局属性blog-->
    <script>window.blog={baseUrl:"{{site.baseUrl}}"}</script>
    <script type="text/javascript" src="{{site.baseUrl}}/static/js/blog.js"></script>
    <script type="text/javascript" src="{{site.baseUrl}}/static/js/md5.js"></script>
</header>