<!--文章词数统计-->
{%- assign words = page.content | strip_html | strip_newlines | remove: " " | size -%} 
{%- assign readTime = words | divided_by: 450 -%}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}-{{ site.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="applicable-device" content="pc,mobile">
    <meta name="google-site-verification" content="SKzPI1kQJwH5rtS-KeZEGsxToJDIP9Utt1dMyJR9gFw" />
    <meta name="baidu-site-verification" content="0L4AxCA46Q" />
    <meta name="author" content="{{ site.author }}" />
    {% if page.isPage %}
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    {% else %}
    <meta name="description" content="{{ page.title }}"/>
    <meta name="keywords" content="{{ site.author }}{% for category in page.categories %},{{ category }}{% endfor %}"/>
    {% endif %}
    <link rel="icon" href="{{site.baseUrl}}/static/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/img/favicon.ico" type="image/x-icon"/>
    <!--引入CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/css/common.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/css/highlight.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/css/post.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1.5.0/dist/gitalk.css">
  </head>
  
  <body ondragstart="return false;">
    {% include header.html %}

    <div class="page page-post animation-fade-up">
      <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
      {% if page.date %}
      <div id="subtitle">
        <span>{{site.author}}于{{ page.date | date: "%Y-%m-%d" }}发布</span>
        <span>约{{ words }}字<b>·</b>约{{ readTime }}分钟</span>
        <span id="busuanzi_container_page_pv">
            本文总阅读量<span id="busuanzi_value_page_pv"></span>次
        </span>
      </div>
      {% endif %}

      <div class="post">
        <nav id="toc" ></nav>
        {{ content }}
        <div id="gitalk-container"></div>
      </div>
    </div>
  
  <!--全局属性blog-->
  <script>window.blog={baseUrl:"{{site.baseUrl}}"}</script>
  <!-- 引入JS -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/js/blog.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/js/md5.min.js"></script>
  <script src="https://cdn.bootcss.com/tocbot/4.8.1/tocbot.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1.5.0/dist/gitalk.min.js"></script>
  
  <script>
    //调用tocbot生成文章目录
    tocbot.init({
    tocSelector: '#toc',
    contentSelector: '.post',
    headingSelector: 'h1, h2, h3, h4, h5, h6',
    collapseDepth: 0,
    scrollSmooth: true,
    scrollSmoothDuration: 0,
    headingsOffset: 1,
    fixedSidebarOffset: 'auto',
    orderedList: true,
  });
    //调用gitalk部署评论系统
    var gitalk = new Gitalk({
      clientID: 'a584baecdfafe2011bd7',
      clientSecret: '3301aa8e451a9a9e29edb3ed5cfe5fcd99e19ad4',
      repo: 'blog-comments',
      owner: 'zhyjc6',
      admin: ['zhyjc6'],
      id: md5(location.pathname), // Ensure uniqueness and length less than 50
      distractionFreeMode: false  // Facebook-like distraction free mode
    });
    gitalk.render('gitalk-container')
  </script>

  {% include footer.html %}
  </body>
</html>