{%- assign CSS = "common.css,post.css,highlight.css" -%}
{%- assign JS = "blog.js,plugins.js,md5.min.js" -%}
{%- assign pageCSS = CSS | split: "," -%}
{%- assign pageJS =  JS | split: "," -%}
{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
{%- assign words = page.content | strip_html | strip_newlines | remove: " " | size -%} 
{%- assign readTime = words | divided_by: 450 -%}
<!DOCTYPE html>
<html>
{% include head.html %}
<body ondragstart="return false;">
{% include header.html %}

<div class="page page-post animation-fade-up">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div id="subtitle">
    <span>{{site.author}}于{{ page.date | date: "%Y-%m-%d" }}发布</span>
    <span>约{{ words }}字<b>·</b>约{{ readTime }}分钟</span>
    <span id="busuanzi_container_page_pv">
        本文总阅读量<span id="busuanzi_value_page_pv"></span>次
    </span>
  </div>
  {% endif %}

  <div class="post">
    <nav id="toc" ></nav>
    {{ content }}
    <div id="gitalk-container"></div>
  </div>
</div>
{% include footer.html %}
</body>
</html>