<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}-{{ site.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="applicable-device" content="pc,mobile">
    <meta name="google-site-verification" content="SKzPI1kQJwH5rtS-KeZEGsxToJDIP9Utt1dMyJR9gFw" />
    <meta name="baidu-site-verification" content="0L4AxCA46Q" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ page.title }}"/>
    <meta name="keywords" content="{{ site.author }}{% for category in page.categories %},{{ category }}{% endfor %}"/>
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/css/common-0.0.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/css/page-0.0.css">
  </head>
      
  <body ondragstart="return false;">
    {% include header.html %}
    {{ content }}

    <!--全局属性blog-->
    <script>window.blog={baseUrl:"{{site.baseUrl}}"}</script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/js/blog-0.0.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/zhyjc6/zhyjc6.github.io/static/js/search.js"></script>

    {% include footer.html %}
  </body>
</html>